Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.5
  hooks:
    # Run the formatter.
    - id: ruff-format
      args: [--config=pyproject.toml]
    # Run the linter.
    - id: ruff
      args: [--config=pyproject.toml]

- repo: https://github.com/numpy/numpydoc
  rev: v1.8.0
  hooks:
    - id: numpydoc-validation
      exclude: |
          (?x)(
              tests/|
              linting/|
              docs/
          )

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  # note: pre-commit runs top-to-bottom, so put the hooks that modify content first,
  # followed by checks that might be more likely to pass after the modifactaion hooks (like flake8)
  hooks:
  # Checks for large files added to the repository, typically to prevent accidental inclusion of large binaries or datasets.
  - id: check-added-large-files
  # Detects potential filename conflicts due to case-insensitive filesystems (e.g., Windows) where File.txt and file.txt would be considered the same.
  - id: check-case-conflict
  # Checks for files that contain merge conflict strings (e.g., <<<<<<<, =======, >>>>>>>).
  - id: check-merge-conflict
  # Validates YAML files for syntax errors.
  - id: check-yaml
  # Detects debug statments (e.g., print, console.log, etc.) left in code.
  - id: debug-statements
  # Ensures files have a newline at the end.
  - id: end-of-file-fixer
  # Removes trailing whitespace characters from files.
  - id: trailing-whitespace

- repo: local
  hooks:
    - id: check-docstrings
      name: check docstrings for markdown
      language: system
      entry: python linting/check_docstrings.py
      types: [file, python]
    - id: check-malformed-directive
      language: system
      name: Check for malformed sphinx directives
      types_or: ["python", "rst", "markdown"]
      entry: python linting/check_sphinx_directives.py
    - id: check-tutorials
      language: system
      name: Check for issues with markdown tutorial notebooks
      types_or: ["markdown"]
      entry: python linting/check_tutorials.py
    - id: check-docs-markdown
      language: python
      # only run on docs/ folder
      name: Check for issues with markdown files in docs
      types_or: ["markdown"]
      entry: linting/check_markdown.py
      files: ^docs/
      additional_dependencies: ["sphobjinv"]
    - id: ruff notebooks
      language: python
      name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
      types_or: ["markdown"]
      entry: linting/ruff_notebooks.py
      files: ^docs/
      additional_dependencies: ["ruff", "jupytext"]

include path in type annotation
  src/plenoptic/tools/data.py
Due: check-docstrings, check-malformed-directive

fix failing test
  src/plenoptic/tools/data.py
Due: check-docstrings, check-malformed-directive

fix missing urls
  README.md
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/display.py
Due: check-docstrings, check-malformed-directive, check-tutorials

Edoardo's point about load test
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

ignore pkg_resources depcreated warning
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

fix warning issues
  src/plenoptic/tools/data.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

split dev into test,lint dependencies
  .github/workflows/ci.yml
  pyproject.toml
Due: none

upload test folder
  src/plenoptic/data/fetch.py
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

fix test install
  jenkins/Jenkinsfile
Due: none

filter out additional deprecationwarning
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

put archivea rtifacts in post{always block
  jenkins/Jenkinsfile
Due: none

updates min pyrtools version
  pyproject.toml
Due: none

moves DemoEigendsitortion synth to tests
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/tutorials/applications/Demo_Eigendistortion.md
  docs/tutorials/intro/MAD_Competition_1.md
  linting/check_regression_tests.py
  pyproject.toml
  src/plenoptic/data/fetch.py
  src/plenoptic/synthesize/synthesis.py
  tests/conftest.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates contributing
  CONTRIBUTING.md
Due: check-malformed-directive, check-tutorials

updates jenkinsfile
  jenkins/Jenkinsfile
Due: none

all docs build on one gpu
  docs/tutorials/intro/MAD_Competition_2.md
  docs/tutorials/models/Portilla-Simoncelli.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Add spectral matching function
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Add penalty_function to save and load
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

udpates noxfile
  noxfile.py
Due: check-docstrings, check-malformed-directive

tweaks to text
  docs/tutorials/applications/Demo_Eigendistortion.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

starts working on PS regression tests
  CONTRIBUTING.md
  docs/tutorials/models/Portilla_Simoncelli.md
  src/plenoptic/data/fetch.py
  tests/conftest.py
  tests/test_models.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

docstrings for stats functions
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

return
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

updates PS notebook
  docs/tutorials/models/Portilla_Simoncelli.md
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

add see also's
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

more for PS notebook
  docs/tutorials/models/Portilla_Simoncelli.md
  src/plenoptic/data/fetch.py
  tests/conftest.py
  tests/test_models.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

small fixes in PS notebook
  docs/tutorials/models/Portilla_Simoncelli.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

makes PS notebook work with regression test linter
  CONTRIBUTING.md
  docs/tutorials/models/Portilla_Simoncelli.md
  linting/check_regression_tests.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

adds togglebutton for proper admonition dropdown
  docs/conf.py
  pyproject.toml
Due: check-docstrings, check-malformed-directive

removes papermill
  .github/workflows/ci.yml
Due: none

makes docs build faster
  docs/tutorials/advanced/Display.md
  docs/tutorials/intro/MAD_Competition_1.md
  docs/tutorials/models/Portilla_Simoncelli.md
  docs/tutorials/models/Steerable_Pyramid.md
  docs/tutorials/quickstart.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

updates PS to add remaining syntheses
  docs/tutorials/models/Portilla_Simoncelli.md
  src/plenoptic/data/fetch.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

tests need torchvision
  pyproject.toml
Due: none

adds map_location to PS notbook load calls
  docs/tutorials/models/Portilla_Simoncelli.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

save torch state for other tests
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

adds tests for new synth behavior
  src/plenoptic/synthesize/synthesis.py
  tests/test_eigendistortion.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

have ps synth tests use xdist groups
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

temporarily add store_progress for testing
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive
