Repository plenoptic-org/plenoptic: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

check-docstrings:
  name: check docstrings for markdown
  language: system
  entry: python linting/check_docstrings.py

check-malformed-directive:
  language: system
  name: Check for malformed sphinx directives
  entry: python linting/check_sphinx_directives.py

check-tutorials:
  language: system
  name: Check for issues with markdown tutorial notebooks
  entry: python linting/check_tutorials.py

check-docs-markdown:
  language: python
  name: Check for issues with markdown files in docs
  entry: linting/check_markdown.py
  additional_dependencies:
  - sphobjinv

ruff notebooks:
  language: python
  name: Convert myst-nb markdown notebooks to ipynb and run ruff on them
  entry: linting/ruff_notebooks.py
  additional_dependencies:
  - ruff
  - jupytext

just run some small tests
  jenkins/Jenkinsfile
  src/plenoptic/synthesize/metamer.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

make sure uploaded_files exists
  jenkins/Jenkinsfile
Due: none

more for testing?
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

actually make tests work
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

update tests file, revert testing changes
  jenkins/Jenkinsfile
  pyproject.toml
  src/plenoptic/data/fetch.py
  src/plenoptic/synthesize/metamer.py
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

Remove non-essential regularizations
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Substitute allowed_range in input validation with warning
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
  src/plenoptic/tools/validate.py
Due: check-docstrings, check-malformed-directive

Tweak penalty_lambda in docstrings
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

Add functools.partial example to penalty_function
  src/plenoptic/tools/regularization.py
Due: check-docstrings, check-malformed-directive

Remove allowed_range from image_validation
  tests/test_tools.py
Due: check-docstrings, check-malformed-directive

fix failing doctest
  src/plenoptic/synthesize/eigendistortion.py
Due: check-docstrings, check-malformed-directive

updates test files
  src/plenoptic/data/fetch.py
Due: check-docstrings, check-malformed-directive

fix warning about tensor/scalar conversion
  src/plenoptic/metric/perceptual_distance.py
Due: check-docstrings, check-malformed-directive

remove unnecessary comments
  docs/tutorials/models/Portilla_Simoncelli.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

try using --dist worksteal
  pyproject.toml
Due: none

run long tests first
  pyproject.toml
  tests/test_uploaded_files.py
Due: check-docstrings, check-malformed-directive

adds PR template
  .github/pull_request_template.md
Due: check-malformed-directive, check-tutorials

remove unnecessary comment
  CONTRIBUTING.md
Due: check-malformed-directive, check-tutorials

update description of regression tests
  .github/pull_request_template.md
  CONTRIBUTING.md
Due: check-malformed-directive, check-tutorials

more notes on reproducibility
  CONTRIBUTING.md
  docs/reproducibility.md
  jenkins/Jenkinsfile
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

fix label issue
  docs/tutorials/models/Portilla_Simoncelli.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

variance docstring
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

back to old summary
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

better placement for setting seed
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

skew example
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

kurtosis
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

add _ for return values
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

trying ; to avoid outputs in docstrings
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

Add rudimentary codespell config
  pyproject.toml
Due: none

Add pre-commit definition for codespell
  .pre-commit-config.yaml
Due: none

[DATALAD RUNCMD] Replace typo-close padd with full padding
  src/plenoptic/metric/perceptual_distance.py
Due: check-docstrings, check-malformed-directive

[DATALAD RUNCMD] run codespell throughout fixing typos automagically (but ignoring overall fail due to ambigous ones)
  .pre-commit-config.yaml
  README.md
  docs/index.md
  docs/tutorials/advanced/Display.md
  docs/tutorials/intro/Eigendistortions.md
  docs/tutorials/intro/MAD_Competition_2.md
  docs/tutorials/intro/Metamer.md
  docs/tutorials/models/Perceptual_distance.md
  docs/tutorials/models/Portilla_Simoncelli.md
  docs/tutorials/models/Steerable_Pyramid.md
  linting/check_docstrings.py
  linting/check_markdown.py
  src/plenoptic/simulate/canonical_computations/laplacian_pyramid.py
  src/plenoptic/simulate/models/portilla_simoncelli.py
  src/plenoptic/synthesize/autodiff.py
  src/plenoptic/synthesize/mad_competition.py
  src/plenoptic/tools/validate.py
  tests/test_metric.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

[DATALAD RUNCMD] chore: run codespell throughout fixing a few typos interactively
  CONTRIBUTING.md
  docs/tutorials/models/Portilla_Simoncelli.md
  docs/tutorials/quickstart.md
  jenkins/Jenkinsfile
  src/plenoptic/synthesize/eigendistortion.py
  tests/test_models.py
Due: check-docstrings, check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

[DATALAD RUNCMD] Fix 'thi sis' typo
  docs/tutorials/intro/Metamer.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

Ignore regex
  pyproject.toml
Due: none

[DATALAD RUNCMD] chore: run codespell throughout fixing a few new typos automagically (needed after rebase)
  docs/reproducibility.md
  docs/tutorials/models/Portilla_Simoncelli.md
Due: check-malformed-directive, check-tutorials, check-docs-markdown, ruff notebooks

refactor MetamerCTF closure for LBFGS
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

change filename to avoid conflicts
  src/plenoptic/synthesize/metamer.py
Due: check-docstrings, check-malformed-directive

capture outputs in docstrings
  src/plenoptic/tools/stats.py
Due: check-docstrings, check-malformed-directive

adds tests for LBFGS
  tests/conftest.py
  tests/test_mad.py
  tests/test_metamers.py
Due: check-docstrings, check-malformed-directive

Path conditions:
  check-docstrings: any of: \.py$
  check-malformed-directive: any of: \.py$, \.rst$, \.(md|markdown|mdown)$
  check-tutorials: any of: \.(md|markdown|mdown)$
  check-docs-markdown: any of: ^docs/ and \.(md|markdown|mdown)$
  ruff notebooks: any of: ^docs/ and \.(md|markdown|mdown)$
